.venv# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ambientes Virtuais
venv/
env/
.env

# Banco de Dados Local
*.sqlite
*.db
*.csv
.DS_Store

# Dados Temporários e Logs
data/*.csv
logs/
*.log

# IDEs
.vscode/
.idea/
data/raw/sgs_data_bruto.csv
data/raw/sgs_data_bruto.csv
